<!--
  Generated template for the SolicitudSolicitantePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
    <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>Solicitud</ion-label>
          </ion-col>
          <ion-col  align="rigth" style="border-bottom: .01em solid #dcdcdc">
            <ion-select (ionChange)="cambioSoltd();" [(ngModel)]="ngsol" interface="popover" placeholder="Seleccione uno" interface="alert" >
              <ion-option *ngFor="let item of this.solicituds"  value="{{item.COD_SOLICITUD}}"  >{{item.DESC_SOLICITUD}}</ion-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>Tipo Solicitud</ion-label>
          </ion-col>
          <ion-col style="border-bottom: .01em solid #dcdcdc">
            <ion-select  (ionChange)="verificarSolicitud()" [(ngModel)]="ngsub" placeholder="Seleccione uno" interface="alert">
                <ion-option  *ngFor="let it of this.subtipo" value="{{it.COD_TIPO_SOLI}}" >{{it.DESC_TIPO_SOLI}}</ion-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>Numero de dias</ion-label>
          </ion-col>
          <ion-col style="border-bottom: .01em solid #dcdcdc">
            <ion-input  [(ngModel)]="numDias" type="number"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>Fecha inicio</ion-label>
          </ion-col>
          <ion-col style="border-bottom: .01em solid #dcdcdc">
              <ion-datetime (ionChange)="verificarSolicitud()" display-format="DD/MM/YYYY" picker-format="DD/MM/YYYY"  [(ngModel)]="fechaini" doneText="Ok" cancelText="Cancelar"  >
              </ion-datetime>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>Fecha fin</ion-label>
          </ion-col>
          <ion-col style="border-bottom: .01em solid #dcdcdc">
              <ion-datetime [disabled]="true" display-format="DD/MM/YYYY" picker-format="DD/MM/YYYY"  [(ngModel)]="fechafin" doneText="Ok" cancelText="Cancelar"  >
              </ion-datetime>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!this.verificado" >
            <ion-col align="center">
              <button ion-button (click)="verificarSolicitud();" >
                Verificar fecha de finalizacion
              </button>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="this.verificado" >
          <ion-col align="center">
            <button ion-button value="laboral" (click)="aprobar();">
              Aprobar
            </button>
          </ion-col>
          <ion-col align="center">
            <button ion-button value="cancelar" (click)="cancelar();" >
              Cancelar
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item-divider color="light">
          <ion-label text-wrap>
              <strong>Historial de solicitudes</strong>
          </ion-label>
      </ion-item-divider>
      <ion-list  scroll="true">
        <ion-item>
            <ion-row>
                <ion-col col-3>
                  Vacacion Id
                </ion-col>
                <ion-col col-3>
                  Disfrutado
                </ion-col>
                <ion-col col-3>
                  Fecha Inicial
                </ion-col>
                <ion-col col-3>
                  Estado
                </ion-col>
              </ion-row>
        </ion-item>
        <ion-item *ngFor="let itemHisto of this.respHistorial">
          <ion-row>
              <ion-col col-3>
                <p>{{itemHisto.VACATION_ID}}</p>
              </ion-col>
              <ion-col col-3>
                <p>{{itemHisto.DISFRUTADO}}</p>
              </ion-col>
              <ion-col col-3>
                <p>{{itemHisto.FECHA_INICIAL}}</p>
              </ion-col>
              <ion-col col-3>
                <p>{{itemHisto.ESTADO}}</p>
              </ion-col>
            </ion-row>
      </ion-item>
    </ion-list>
    
</ion-content>
